.gradle/
build/
.idea/
out/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
bin/
.apt_generated
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env